---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from 'astro:assets';
---

<Layout title="Saul Nieto - IT Enthusiast">
  <div class="max-w-3xl mx-auto">
    <div class="text-center mb-12">
      <Image
        src="/images/saul.jpeg"
        alt="Saul Nieto"
        width={200}
        height={200}
        class="rounded-full border-4 border-indigo-500 mx-auto mb-6"
      />
      <h1 class="text-4xl font-bold text-blue-50 mb-2">Saul Nieto</h1>
      <p class="text-xl text-blue-50">IT Enthusiast</p>
    </div>

    <div class="space-y-8">
      <section class="bg-indigo-950 p-6 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h2 class="text-2xl font-semibold text-blue-50 mb-4">
          <span data-lang="es">Sobre Mi</span>
          <span data-lang="en" class="hidden">About Me</span>
        </h2>
        <p class="text-blue-100 leading-relaxed" data-lang="es">
			Soy un entusiasta de las Tecnologías de la Información, próximo a egresar de la carrera de Ingeniería en Sistemas. Mi experiencia y formación me han permitido especializarme en tres áreas clave: desarrollo web, ciencia de datos y redes. Aunque el desarrollo web es mi mayor pasión, mi fortaleza técnica reside en el área de redes, donde aplico de manera óptima conocimientos previos en instalaciones eléctricas, dibujo técnico y desarrollo de planos. 

			A lo largo de mi carrera, he aprendido a combinar estos conocimientos técnicos con una visión estratégica orientada a las necesidades del negocio. Me destaco por mi capacidad para superar las expectativas, entregando soluciones que no solo resuelven problemas técnicos, sino que también contribuyen a los objetivos globales de las organizaciones. 
        </p>
        <p class="text-blue-100 leading-relaxed hidden" data-lang="en">
			I am an Information Technology enthusiast, about to graduate from a Systems Engineering degree. My experience and training have allowed me to specialize in three key areas: web development, data science and networking. Although web development is my greatest passion, my technical strength lies in the networking area, where I optimally apply my previous knowledge in electrical installations, technical drawing and blueprint development. 

			Throughout my career, I have learned to combine this technical knowledge with a strategic vision oriented to business needs. I stand out for my ability to exceed expectations, delivering solutions that not only solve technical problems, but also contribute to the overall objectives of organizations.
        </p>
      </section>

      <section class="bg-indigo-950 p-6 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h2 class="text-2xl font-semibold text-blue-50 mb-4">
          <span data-lang="es">Trayectoria Profesional</span>
          <span data-lang="en" class="hidden">Professional Journey</span>
        </h2>
        <p class="text-blue-100 leading-relaxed" data-lang="es">
			Mi carrera en el campo de la tecnología ha sido diversa, abarcando desde prácticas en una de las plantas solares más grandes de Honduras hasta el desarrollo de aplicaciones web. Durante mis prácticas, me especialicé en el mantenimiento de equipos de generación de energía, lo que me permitió adquirir una sólida base técnica y de resolución de problemas en entornos industriales. 

			En proyectos previos, he transformado aulas de clase en laboratorios de computación funcionales, aplicando mis conocimientos en infraestructura y tecnología educativa. A nivel académico, he liderado y desarrollado diversas aplicaciones web, participando desde la conceptualización de los proyectos hasta su implementación. Mi principal responsabilidad ha sido el diseño y desarrollo de bases de datos, asegurando la integridad y eficiencia de las soluciones. 
        </p>
        <p class="text-blue-100 leading-relaxed hidden" data-lang="en">
			My career in the technology field has been diverse, ranging from internships at one of the largest solar plants in Honduras to web application development. During my internship, I specialized in the maintenance of power generation equipment, which allowed me to acquire a solid technical and troubleshooting background in industrial environments. 

			In previous projects, I have transformed classrooms into functional computer labs, applying my knowledge in infrastructure and educational technology. At the academic level, I have led and developed several web applications, participating from the conceptualization of the projects to their implementation. My main responsibility has been the design and development of databases, ensuring the integrity and efficiency of the solutions.
        </p>
      </section>

      <section class="bg-indigo-950 p-6 rounded-lg shadow-md transition-all duration-300 hover:shadow-lg">
        <h2 class="text-2xl font-semibold text-blue-50 mb-4">
          <span data-lang="es">Entusiasta de los Videojuegos y los Idiomas</span>
          <span data-lang="en" class="hidden">Videogames and Languages Enthusiast</span>
        </h2>
        <p class="text-blue-100 leading-relaxed" data-lang="es">
			Mis dos grandes pasiones en el tiempo libre son los videojuegos y los idiomas. Me encanta disfrutar de juegos competitivos y cooperativos con amigos, lo que me ha llevado a un interés profundo en el mundo del PC gaming y los periféricos. Este pasatiempo no solo es una fuente de entretenimiento, sino también una oportunidad de mejorar habilidades como la estrategia, la cooperación y la toma de decisiones rápidas. 

			En cuanto a los idiomas, aprender nuevas lenguas es uno de mis mayores intereses. Mi lengua materna es el español, y el inglés es mi segundo idioma. A lo largo de los años, he tenido contacto con otros idiomas como el japonés, el coreano, el alemán y el mandarín. Una de mis metas es dominar cuatro idiomas para cuando cumpla 30 años y estar en proceso de aprender un quinto. Lo que más disfruto del aprendizaje de idiomas es cómo me permite conectar con personas de diferentes partes del mundo y conocer culturas de una manera profunda, incluso sin haber visitado esos países.
        </p>
        <p class="text-blue-100 leading-relaxed hidden" data-lang="en">
			My two great passions in my free time are video games and languages. I love to enjoy competitive and cooperative games with friends, which has led me to a deep interest in the world of PC gaming and peripherals. This pastime is not only a source of entertainment, but also an opportunity to improve skills such as strategy, cooperation and quick decision making. 

			As for languages, learning new languages is one of my greatest interests. My native language is Spanish, and English is my second language. Over the years, I have had contact with other languages such as Japanese, Korean, German and Mandarin. One of my goals is to master four languages by the time I am 30 years old and to be in the process of learning a fifth. What I enjoy most about learning languages is how it allows me to connect with people from different parts of the world and learn about cultures in a profound way, even without having visited those countries.
        </p>
      </section>
    </div>

    <div class="mt-12 flex justify-center space-x-6">
		<!--
      <a href="https://www.linkedin.com/in/uayebcaballero/" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-orange-500 transition-colors">
        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
        </svg>
        <span class="sr-only">LinkedIn</span>
      </a> -->
      <a href="https://github.com/SNieto27" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-orange-500 transition-colors">
        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">GitHub</span>
      </a>
      <a href="https://www.youtube.com/@SaulENieto" target="_blank" rel="noopener noreferrer" class="text-gray-600 hover:text-orange-500 transition-colors">
        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
          <path fill-rule="evenodd" d="M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z" clip-rule="evenodd" />
        </svg>
        <span class="sr-only">YouTube</span>
      </a>
    </div>
  </div>
</Layout>
